html {
  height: 100%;
}

body {
  height: 100%;
}

nav {
  display: flex;
  border:2px solid lightgrey;
  background-color: red;
  font-weight: bold;
  border-radius: 30px;
  justify-content: center;
}

body {
  background-image: url("../images/foodtable.jpeg");
}

.menulink {
  color: black;
  font-size: 14px;
  padding: 8px 20px 8px 20px;
  font-size: 20px;
  flex-grow: 1px;
  /* align-content: center; */
}

.menulink:hover {
  background-color: #7ADAEB;
}

.spacer {
  flex-grow: 3;
  border: 3px solid purple;
}

.listings {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 6% 0% 10% 15%;
  width: 68%;
  height: 70%;
  border: 5px solid red;
  border-radius: 25px;

}

.listingbox {
  flex-grow: 1;
  width: 30%;
  height: 22%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #5CFFF3;
  border-radius: 15px;
}

#passtheplatelogo {
  /* padding-left: 15px;
  padding-right: 20px; */
}
