#make_a_new_listing {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 70px;
  margin: 70px 10px 10px 350px
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0px 50px 270px;
  /* background-color: #FFFFFF; */
  background-color: white;
  padding-top: 20px;
  width: 1100px;
  border: 5px solid red;
  border-radius: 25px;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.listingbox {
  flex-grow: 1;
  width: 400px;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 15px;
}
