html {
  height: 100%;
}

nav {
  display: flex;
  border:2px solid lightgrey;
  background-color: #73CCFF;
  font-weight: bold;
  border-radius: 15px;
  justify-content: center;
}

body {
  height: 100%;
  background-image: url("../images/foodtable.jpeg");
}

h1 {
  justify-content: flex-start;
}

.menulink {
  color: black;
  font-family: cursive;
  font-size: 14px;
  padding: 8px 20px 8px 20px;
  font-size: 20px;
  flex-grow: 1px;
  /* align-content: center; */
}

.menulink:hover {
  background-color: #7ADAEB;
}

.spacer {
  flex-grow: 3;
  border: 3px solid purple;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 6% 0% 10% 15%;
  background-color: #FFFFFF;
  width: 1050px;
  height: 500px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.containeritem {
  display: flex;
  align-items: center;
}

.containeritem label {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  /* border: 2px solid red; */
  padding-right: 20px;
  color: black;
  width: 350px;
  height: 80px;

  /* width: 300px;
  height: 100px; */
}

.containeritem input {
  flex-grow: 1;
  font-size: 15px;
  color: black;
  font-size: 15px;
  width: 500px;
  height: 80px;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 505px;
  padding-right: 505px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
