
#make_a_new_listing {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 70px;
  color: #b700e0;
  text-shadow: 2px 2px 3px;
  margin: 70px 10px 10px 350px
}

.menulink:hover {
  background: linear-gradient(to bottom, rgba(122,218,235,1) 20%, rgba(95,210,212,1));
  /* background-color: #7ADAEB; */
  border-radius:
}

.spacer {
  flex-grow: 2;
  /* border: 3px solid purple; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0% 30px 320px;
  /* background-color: #FFFFFF; */
  background: linear-gradient(to left, rgb(0, 204, 156, 1) 20%, rgb(0, 225, 255, 1));
  padding-top: 20px;
  width: 1050px;
  height: 500px;
  /* margin: 7em auto; */
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.containeritem {
  display: flex;
  align-items: center;
}

.containeritem label {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  padding-right: 20px;
  color: black;
  width: 350px;
  height: 80px;

}

.containeritem input {
  flex-grow: 1;
  font-size: 15px;
  color: black;
  font-size: 15px;
  width: 500px;
  height: 80px;
}

.submit {
  cursor: pointer;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 505px;
  padding-right: 505px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
