html {
  height: 100%;
}

body {
  height: 100%;
}

nav {
  display: flex;
  border:2px solid lightgrey;
  background-color: rgba(92, 255, 243, 0.5);
  font-weight: bold;
  border-radius: 30px;
  justify-content: center;
}

body {
  background-image: url("../images/foodtable.jpeg");
}
/* #parent {
  border: 3px dotted black;
  display: flex;
  height: 500px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
} */

.menulink {
  color: black;
  font-size: 14px;
  padding: 8px 20px 8px 20px;
  font-size: 20px;
  flex-grow: 1px;
  /* align-content: center; */
}

.menulink:hover {
  background-color: #7ADAEB;
}

.spacer {
  flex-grow: 3;
  border: 3px solid purple;
}

#passtheplatelogo {
  /* padding-left: 15px;
  padding-right: 20px; */
}

#signupbox {
  margin-left: 30%;
  margin: 10% 30% 10% 30%;
  width: 38%;
  height: 45%;
  background-color: #5CFFF3;
  border-radius: 25px;
}
