<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <style>
    body { background-color: #a5b0feff; }
  </style>

  <nav>
    <a class="menulink" id="passtheplate"href="homepage.html">pass the plate</a>
    <span class="spacer"></span>
    <a class="menulink" id="browsefoodstock" href="foodlistings.html">Browse Food Listings</a>
    <a class="menulink" id="signin" href="SignupPage.html">Sign In</a>
    <a class="menulink" id="about" href="aboutus.html">About</a>
  </nav>
  
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#portfolio">PORTFOLIO</a></li>
          <li><a href="#pricing">PRICING</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  </br>
<div class="container text-center">
  <h3>Meet the Creators!</h3>
  <p>Pass the Plate</p>
  <p>We loved making Pass the Plate!</p>
  <br>

  <div class="row">
      <div class="col-sm-4">
          <p><strong>Sarah</strong></p><br>

          <a href="#demo" data-toggle="collapse">
            <img src="/static/images/Sarah1.jpg" height= 200 width= 200 alt="Sarah">
          </a>

          <div id="demo" class="collapse">
            <p>Attending Amherst College</p>
            <p>Plays Soccor</p>
            <p>Worked on Backend</p>
          </div>
      </div>

      <div class="col-sm-4">
          <p><strong>Solé</strong></p><br>

          <a href="#demo2" data-toggle="collapse">
            <img src="/static/images/Sole1.jpg" height= 200 width= 200 alt="Sole">
          </a>

          <div id="demo2" class="collapse">
            <p>Attending Pace University</p>
            <p>Worked on front-end</p>
            <p></p>
          </div>
      </div>

      <div class="col-sm-4">
          <p><strong>Obi</strong></p><br>

          <a href="#demo3" data-toggle="collapse">
            <img src="/static/images/obi.jpg" height= 200 width= 200 alt="Obi">
          </a>

          <div id="demo3" class="collapse">
            <p>Attending Wilfrid Laurier University</p>
            <p>Worked on front-end</p>
            <p></p>
          </div>
      </div>

      </div>
  </div>


</body>
</html>
