<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/css/foodlistings.css">

    <meta charset="utf-8">
    <title>Signup</title>
  </head>
  <body>

    <nav>
      <a class="menulink" id="passtheplate"href="homepage.html">pass the plate</a>
      <span class="spacer"></span>
      <a class="menulink" id="browsefoodstock" href="foodlistings.html">Browse Food Stock</a>
      <a class="menulink" id="signin" href="SignupPage.html">Sign In</a>
    </nav>


    {% for post in view_all_posts %}

    <div class="container">
      <div class="listingbox">
        <div class="listingbox">
          <h2>{{ post.organization }}</h2>
        </div>

        <div class="listingbox">
          <h3> Produce Avalible: {{ post.produce }}</h3>
        </div>

        <div class="listingbox">
          <p> Location: {{ post.location }}</p>
        </div>

        <div class="listingbox">
          <p> Expiration: {{ post.expiration }}</p>
        </div>

        <div class="listingbox">
          <p> Method of Transportation: {{ post.delievery }}</p>
        </div>

      </div>
    </div>

    {% endfor %}


    <!-- <div class="signup">
      <h1>Giver Signup</h1>
      <form class="" action="homepage.html" method="post">
        Username: <input type="text" name="username" value="">
        Password: <input type="password" name="password" value="">
        <button type="button" name="button"></button>
        <input type="submit" value="Submit form">
      </form>
    </div> -->

  </body>
</html>
