<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/foodlistings.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Oxygen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Oxygen|Questrial&display=swap" rel="stylesheet">
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
    <style>#browsefoodstock {color: #E64200; font-weight: 500;}</style>
    <title>Listings</title>
  </head>


  <body>
    <nav>
      <a class="menulink" id="passtheplate"href="/">pass the plate</a>
      <span class="spacer"></span>
      <a class="menulink" id="browsefoodstock" href="/listings">Browse Food Listings</a>
      <a class="menulink" id="signin" href="/account">Sign In</a>
      <a class="menulink" id="about" href="/about">About</a>
    </nav>

    <button onclick="goBack()" class="backbutton"> < Back </button>

    <div class="header">
      <div class="subheader">
        <a class="makeListingbutton" href="/newpost"> + new listing</a>
        <h1 class="page_title">Food Listings</h1>
      </div>
    </div>
    <div class="behindcontainer">
      <div class="container">
        {% for post in view_all_posts %}
        <a href="/listinginfo?postkey={{ post.key.urlsafe() }}" class="listinginfolink">
          <div class="listing">

            <div class="listingbox" id="organization">
              <h1 id="organization">{{ post.organization }}</h1>
            </div>

            <div class="listingbox">
              <h1>Items</h1>
              <p placeholder="Roadhouse"> {{ post.produce }}</p>
            </div>

            <div class="listingbox">
              <h1>Location</h1>
              <p>{{ post.location }}</p>
            </div>

            <div class="listingbox">
              <h1>Expiration</h1>
              <p>{{ post.expiration }}</p>
            </div>

            <div class="listingbox">
              <h1>Delivery Method</h1>
              <p>{{ post.delivery }}</p>
            </div>

          </div>
        </a>
        {% endfor %}

      </div>
    </div>


    <!-- <div class="signup">
      <h1>Giver Signup</h1>
      <form class="" action="homepage.html" method="post">
        Username: <input type="text" name="username" value="">
        Password: <input type="password" name="password" value="">
        <button type="button" name="button"></button>
        <input type="submit" value="Submit form">
      </form>
    </div> -->

  </body>
</html>
