<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/css/foodlistings.css">

    <meta charset="utf-8">
    <title>Signup</title>
  </head>
  <body>

    <nav>
      <a class="menulink" id="passtheplate"href="homepage.html">pass the plate</a>
      <span class="spacer"></span>
      <a class="menulink" id="browsefoodstock" href="foodlistings.html">Browse Food Stock</a>
      <a class="menulink" id="signin" href="SignupPage.html">Sign In</a>
    </nav>


    <div class="behindcontainer">
      <div class="container">
        <!-- {% for post in view_all_posts %} -->
        <div class="listing">

          <div class="listingbox">
            <h1>{{ post.organization }}</h1>
          </div>

          <div class="listingbox">
            <h1>Produce</h1>
            <p> Produce Avalible: {{ post.produce }}</p>
          </div>

          <div class="listingbox">
            <h1>Location</h1>
            <p> Location: {{ post.location }}</p>
          </div>

          <div class="listingbox">
            <h1>Expiration</h1>
            <p> Expiration: {{ post.expiration }}</p>
          </div>

          <div class="listingbox">
            <h1>Transportation</h1>
            <p> Method of Transportation: {{ post.delievery }}</p>
          </div>

        </div>
        <!-- {% endfor %} -->

      </div>
    </div>


    <!-- <div class="signup">
      <h1>Giver Signup</h1>
      <form class="" action="homepage.html" method="post">
        Username: <input type="text" name="username" value="">
        Password: <input type="password" name="password" value="">
        <button type="button" name="button"></button>
        <input type="submit" value="Submit form">
      </form>
    </div> -->

  </body>
</html>
