<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <!-- <link rel="stylesheet" href="/static/homepage/homepage.css"> -->
      <link rel="stylesheet" href="../static/main.css">
      <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
      <style>#homepage {color: #E64200; font-weight: 500;}</style>
    <title>PASS THE PLATE</title>
  </head>
  <body>

    <nav>
      <a class="menulink" id="passtheplate"href="homepage.html">pass the plate</a>
      <span class="spacer"></span>
      <a class="menulink" id="browsefoodstock" href="foodlistings.html">Browse Food Stock</a>
      <a class="menulink" id="signin" href="SignupPage.html">Sign In</a>
    </nav>

    <!-- <nav>
      <h1 class="menulink" id="passtheplatelogo">Pass the Plate</h1>
      <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
      <span class="spacer"></span>
      <a class="menulink" href="/foodlistings">Food Listing</a>
      <a class="menulink" href="/about">About</a>
      <a class="menulink" href="/account">Signin</a>
    </nav> -->

    <div class="title">
      <h1 id="mainTitle">PASS THE PLATE</h1>
    </div>

    <div class="bio">
        <h4 id="mainSubtitle">Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
    </div>
  <!-- <div class="centerImg">
    <img id="SoupKitchen" src="https://cdn.foodbeast.com/content/uploads/2016/11/Soup-kitchen-1024x682.jpg" width="100%">
  </div> -->
    <!-- <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about us">ABOUT</a></li>
            <li><a href="#services">SERVICES</a></li>
            <li><a href="#portfolio">PORTFOLIO</a></li>
            <li><a href="#pricing">PRICING</a></li>
            <li><a href="#contact">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </nav> -->
  </body>

</html>
