<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Food Post Form</title>
    <link rel="stylesheet" href="../static/css/newpost.css">
  </head>
  <body>
    
    <nav>
      <link rel="html" href="https://www.google.com">
      <a class="menulink" id="passtheplatelogo" href="foodlistings.html">Pass the Plates</a>
      <span class="spacer"></span>
      <a class="menulink" href="foodlistings.html">Food Listings</a>
      <a class="menulink" href="../static/homepage.html">Signin</a>
    </nav>

    <div class="postbox">
      <form method="post" action="/newpost">
        <label>
          Organization:
          <input type="text" name="organization" value="" placeholder="Organization Name">
        </label><br/>
        <label>
          Produce:
          <input type="text" name="produce" value="" placeholder= "Produce Avalible">
        </label><br/>
        <label>
          Expiration:
          <input type="text" name="expiration" value="" placeholder= "Experiation Date">
          </input><br/>
        <label>
          Location:
          <input type="text" name="location" value="" placeholder= "Restaurant Location">
        </label><br/>
        <label>
          Delievery:
          <input type="text" name="delievery" value="" placeholder= "Delievery or Pickup">
        </label><br/>
        </label>
        <button type="sumbit">Sumbit!</button>
      </form>
    </div>

  </body>
</html>
