<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Food Post Form</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/css/newpost.css">
    <style>#passtheplate{color: #E64200; font-weight: 500;}</style>
  </head>
  <body>

    <nav>
      <a class="menulink" id="passtheplate"href="homepage.html">pass the plate</a>
      <span class="spacer"></span>
      <a class="menulink" id="browsefoodstock" href="foodlistings.html">Browse Food Stock</a>
      <a class="menulink" id="signin" href="SignupPage.html">Sign In</a>
    </nav>

    <h1 id="make_a_new_listing">Make a new listing...</h1>


    <form action="/foodlistings" method="post">
      <div class="container">

          <div class="containeritem">
            <label>Organization:</label>
            <input type="text" name="organization" placeholder="Organization Name">
          </div>

          <div class="containeritem">
            <label>Produce:</label>
            <input type="text" name="produce" placeholder= "Produce Available">
          </div>

          <div class="containeritem">
            <label>Location:</label>
            <input type="text" name="location" placeholder= "Restaurant Location">
          </div>

          <div class="containeritem">
            <label>Delivery:</label>
            <input type="text" name="delivery" placeholder= "Delivery or Pickup Method">
          </div>

          <div class="containeritem">
            <label>Expiration:</label>
            <input type="text" name="expiration" placeholder= "Expiration Date">
          </div>

          <button  type="submit"  class="submit" name="button">Submit</button>

      </div>
    </form>

  </body>
</html>
