<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title></title>
  </head>
  <body>
    Sign In!
    <img src="/static/images/PTPlogo.png" alt="">
    <a class="menulink" href="/account">Food Listing</a>
  </body>
</html> -->


<html>

<head>
  <link rel="stylesheet" href="static/css/SigninPage.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
    <a class="menulink" href="/account">Food Listing</a>
  <div class="main">
    <img src="/static/images/PTPLogo.png" height=300 width= 350>
    <form class="form1">
      <a class="submit" href="{{ login_url }}" align="center">Sign in</a>



    </div>

</body>

</html>
