<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../css/foodlistings.css">
    <meta charset="utf-8">
    <title>Signup</title>
  </head>
  <body>
    <nav>
      <h1 class="menulink" id="passtheplatelogo">Pass the Plate</h1>
      <span class="spacer"></span>
      <a class="menulink" href="google.com">About</a>
      <a class="menulink" href="google.com">Signin</a>
    </nav>

    <div class="listings">
      <div class="listingbox">
        <h1>{{ foodname1 }}</h1>
        <p>{{ food_details1 }}</p>
        <p>{{ address }}</p>
      </div>
      <div class="listingbox">
        <h1>{{ foodname2 }}</h1>
        <p>{{ food_details2 }}</p>
        <p>{{ address2 }}</p>
      </div>
      <div class="listingbox">
        <h1>{{ foodname3 }}</h1>
        <p>{{ food_details3 }}</p>
        <p>{{ address3 }}</p>
      </div>
      <div class="listingbox">
        <h1>{{ foodname4 }}</h1>
        <p>{{ food_details4 }}</p>
        <p>{{ address4 }}</p>      </div>
      <div class="listingbox">
        <h1>{{ foodname5 }}</h1>
        <p>{{ food_details5 }}</p>
        <p>{{ address5 }}</p>      </div>
      <div class="listingbox">
        <h1>{{ foodname6 }}</h1>
        <p>{{ food_details6 }}</p>
        <p>{{ address6 }}</p>
      </div>
      <p></p>
    </div>


    <!-- <div class="signup">
      <h1>Giver Signup</h1>
      <form class="" action="homepage.html" method="post">
        Username: <input type="text" name="username" value="">
        Password: <input type="password" name="password" value="">
        <button type="button" name="button"></button>
        <input type="submit" value="Submit form">
      </form>
    </div> -->

  </body>
</html>
